:root {
  --dark-grey-blue: #324c5b;
  --color-default: var(--dark-grey-blue);
}

@media (prefers-color-scheme: dark) {
  :root.dark {
    --dark-grey-blue: #FFFFFF;
  }
}

:root {
  --text-balance-color: var(--color-default);
}

@media (max-width: 100px) {
  .value {
    color: var(--text-balance-color);
  }
}