.hello.world {
	background: red;
	width: 32px;
}

@media (test) {
	.hello.world {
		width: 96px;
	}
}

@media (test) {
	.dark .hello.world {
		width: 128px;
	}
}


.dark .hello.world {
	width: 64px;
}